<html>

<head>
    <link rel="stylesheet" href="css/main.css">

    <h1>Manan Shaileshbhai Patel/ 8735197</h1>
    <hr>
    <a href="/">
        Order Plan
    </a>
    <a href="/view">
        View Plan
    </a>
    <hr>
</head>